<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2021 The Midnight Soirée
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li class="footerBar"><a target="_blank" href="https://docs.google.com/document/d/1QM75ngztQA7Owv-PSKIosbsnzbvBgS_UkDPtRpdaZBU/edit?usp=sharing">Privacy Statement</a></li>
                    <li class="footerBar"><a target="_blank" href="https://docs.google.com/document/d/1GWcDN2Y01q1cokojdjcV1e2_GeC3QMYMr5Hlc4qUZDQ/edit?usp=sharing">Terms Of Service</a></li>
                    <li class="footerBar"><a target="_blank" href="https://docs.google.com/document/d/1JK3mmxlww8mewe39aWoeGD-xBgZEOqWDvoBL2TqbaNU/edit?usp=sharing">Refund Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/imgfix.min.js"></script> 
<script src="/js/mixitup.js"></script> 
<script src="/js/accordions.js"></script>

<!-- Global Init -->
<script src="/js/custom.js"></script>

</body>
</html>