<%- include('partials/header') %> 

    <section class="section section-bg" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>ABOUT US</h2>
                        <p>The midnight soirée is a premium end, ready-to-wear women’s clothing label. The focus is on both form and function with a devotion to neat lines and sensual cuts. The midnight soiree offers custom-made clothing having beautiful silhouettes, unique designs, and ultra-light fabrics. The brand focuses on anytime anywhere ensembles which are elegant , effortless and, chic at the same time. We at the midnight soirée believe that every day is a party, the range is affordable and is made uniquely for you. All the dresses are just made for you, freshly tailored. The midnight soirée is also about empowering women by providing jobs to women in search of work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<%- include('partials/footer') %> 