<%- include('partials/header') %> 

    <section class="section section-bg" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Feel free to Contact Us</h2>
                        <p>We are available all the time to help you with your needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>contact <em> info</em></h2>
                        <img src="/images/line-dec.jpg" width="100px" alt="waves">
                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>

                    <h5><a href="tel:+91-8218632818">+91-8218632818</a></h5>

                    <br>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>

                    <h5><a href="mailto:themidnightsoireee@gmail.com">themidnightsoireee@gmail.com</a></h5>

                    <br>
                </div>

                <div class="col-md-4">
                  <div class="icon">
                      <i class="fab fa-instagram"></i>
                  </div>

                  <h5><a href="https://instagram.com/themidnightsoiree_?igshid=1dosai1irwoya">themidnightsoiree_</a></h5>

                  <br>
              </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Operating<em> Address</em></h2>
                        <img src="/images/line-dec.jpg" width="100px" alt="waves">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="icon">
                        <i class="fa fa-location-arrow"></i>
                    </div>

                    <h5><a href="#">380/8c Subhash Nagar, Meerut, Uttar-Pradesh, India</a></h5>

                    <br>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->
    
<%- include('partials/footer') %> 