<%- include('partials/header') %> 

    <section class="section section-bg" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>SHIPPING POLICY</h2>

                        <h4 class="mt-5">Shipment processing time</h4>
                        <p>
                            All orders are processed within 7-8 business days. Orders are not shipped or delivered on weekends or holidays.

                            If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days in transit for delivery. If there will be a significant delay in shipment of your order, we will contact you via email or telephone.
                        </p>

                        <h4 class="mt-5">Shipping rates & delivery estimates</h4>
                        <p>
                            Shipping charges for your order will be calculated and displayed at checkout. This will vary according to the final payment depending on the courier service and zip code. If you email us for fast delivery the shipping charges will be modified accordingly. Shipping is free on orders above ₹2,900. 

                            Delivery delays can occasionally occur.
                        </p>

                        <h4 class="mt-5">Shipment to P.O. boxes or APO/FPO addresses</h4>
                        <p>
                            My Website (www.themidnightsoiree.com)  ships to addresses within INDIA. International orders will be handled manually.
                        </p>

                        <h4 class="mt-5">Shipment confirmation & Order tracking</h4>
                        <p>
                            You will receive a Shipment Confirmation email once your order has shipped containing your tracking number(s). The tracking number will be active within 24 hours.
                        </p>

                        <h4 class="mt-5">Customs, Duties and Taxes</h4>
                        <p>
                            My Website (www.themidnightsoiree.com) is not responsible for any customs and taxes applied to your order. All fees imposed during or after shipping are the responsibility of the customer (tariffs, taxes, etc.).
                        </p>

                        <h4 class="mt-5">Damages</h4>
                        <p>
                            My Website (www.themidnightsoiree.com) is not liable for any products damaged or lost during shipping. If you received your order damaged, please contact the shipment carrier to file a claim. We’ll do the best to help you in any grievance. 

                            Please save all packaging materials and damaged goods before filing a claim.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<%- include('partials/footer') %>