<%- include('partials/header') %> 

    <section class="section section-bg" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>THANK YOU</h2>
                        <p>Thanks for choosing our product. We will get back to you on your provided contact details for queries related to your order.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<%- include('partials/footer') %> 